html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --palegreen: rgba(152, 251, 152, 0.4);
  --greyBorder : rgba(128, 128, 128, 0.4);
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
p { font-size: 1.5rem; }
button { font-size: 1.25rem; }

h1, h2, h3, p, button {
  font-family: helvetica, tahoma, serif;
  text-align: center;
  margin: 0 auto;
  padding: .25rem;
  background-color: none;
}
/* Button styles. ---------------------------------------- */
 button {
   background-color: black;
   color: white;
   border-radius: 8px;
 }
 button:hover {
   background-color: white;
   color: black;
   cursor: pointer;
 }
 /* The header container. ---------------------------------- */
 .header {
   width: 100%;
   background-color: var(--palegreen);
   border-bottom: .25rem solid black;
   padding-bottom: .25rem;
 }
 .header h1 {
   text-shadow: 0 0.15rem white, 0.15rem 0 white, 0 -0.15rem white, -0.15rem 0 white;
 }
 /* The main container. ------------------------------------- */
 .main {
   width: 80%;
   margin-top: 1rem;
   background-color: var(--palegreen);
   border: .25rem solid black;
   border-radius: 10px;
 }
 .main * {
   margin: 10px auto;
 }
 /* Markdown individual point container. --------------------- */
.mkTopicCont {
  width: 90%;
  border: .15rem solid black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mkTopicCont * {
  margin: 5px auto;
  border: .1rem solid var(--greyBorder);
}
/* The hide and invisible classes. ------------------------------*/
.hide {
  display: none;
}

/* Media queries.----------------------------------------------- */
@media screen and (max-width: 850px){
  .main { width: 90%; }
}
@media screen and (max-width: 650px){
  html { font-size: 12px; }

  .main *, .mkTopicCont *  {
    border-radius: 8px;
  }
  button { border-radius: 6px; }
}
@media screen and (max-width: 550px){
  .main { width: 96%; }
}
@media screen and (max-width: 450px){
  html { font-size: 10px; }
}
